<!DOCTYPE html>
{%
    pythonVersion = {{python_version}}
%}
<html>
    <head>
        <title>MathAsScripting NoteBooks | on Python {% pythonVersion %}</title>
    </head>
    <body>
        {%  %}
    </body>
</html>